@import url(../fonts/DanburySmall_PERSONAL_USE_ONLY.otf);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "letra";
  src: url(../fonts/letra1.otf); }

header {
  width: 100%;
  height: 80px;
  margin-top: 40px;
  z-index: 1;
  padding: 10px;
  background-color: #FFA500;
  font-family: "letra1"; }

.container__menu {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: baseline; }
  .container__menu .menu {
    display: flex;
    align-items: center; }
  .container__menu .menu ul {
    display: flex; }
  .container__menu .menu ul li {
    list-style: none;
    margin-right: 5%; }
  .container__menu .menu ul li a {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    background-image: linear-gradient(#FFA500, #000000);
    text-transform: none; }
  .container__menu #selected {
    background: #000000;
    padding: 5px 20px; }
  .container__menu .menu nav img {
    display: none; }
  .container__menu .menu #btn_menu {
    display: none; }

/*COVER*/
.container__cover {
  width: -10%;
  height: 0%;
  margin-top: 10%;
  background-image: linear-gradient(#FFFFFF, #FF0000);
  background-position: right;
  background-repeat: no-repeat;
  padding: 10px; }
  .container__cover .cover {
    max-width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .container__cover .container__cover .text {
    max-width: 400px; }
  .container__cover .container__cover .text h1 {
    font-size: 36px;
    font-weight: 600px; }
  .container__cover .container__cover .text p {
    font-size: 18px;
    margin-top: 40px; }

.section {
  background-image: linear-gradient(#FF0000, #FFFFFF);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.img1 {
  padding: 5%;
  width: 60%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 5%; }

.section2 {
  background-image: linear-gradient(#FFFFFF); }
  .section2 .lista {
    display: flex;
    font-size: 100%;
    color: #000000;
    align-items: center;
    justify-content: center; }
  .section2 .lista ul li a {
    text-transform: uppercase;
    width: 80%;
    height: 20%;
    text-decoration: underline;
    background-color: #FFFFFF; }

.pie-de-pagina {
  background-color: #FFA500;
  font-size: 'Source Sans Pro', sans-serif; }
  .pie-de-pagina .pie-de-pagina h4 {
    font-size: 1.3rem;
    grid-area: contactos; }
  .pie-de-pagina .pie-de-pagina h2 {
    grid-area: copy; }
  .pie-de-pagina .bg-propio3 {
    transform: translate(-70%, 0%); }

/* The animation code */
@keyframes example {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 45px;
    top: 0px; }
  50% {
    left: 45px;
    top: 45px; }
  75% {
    left: 0px;
    top: 45px; }
  100% {
    left: 0px;
    top: 0px; } }

/* The element to apply the animation to */
.container__menu {
  width: 50px;
  position: relative;
  animation-name: example;
  animation-duration: 4s; }

.contenedor {
  background-image: linear-gradient(#FFFFFF, #FF0000);
  margin-top: 10px; }

img {
  width: 100%;
  height: 100%; }

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px; }

.row {
  margin-top: 10%; }

.after_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20%; }

/* formulario*/
body {
  height: 100%;
  font-family: "letra"; }

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #FF0000;
  padding-left: 30px; }

input {
  background-color: #FFFFFF;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #FFA500;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

textarea {
  background-color: #FFFFFF;
  width: 80%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #FFA500;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: none;
  background-color: #FFA500;
  border-color: #FF0000;
  border-style: solid;
  border-radius: 10px;
  width: 80%;
  cursor: pointer; }

button p {
  color: #FFFFFF; }

span {
  color: #FFA500; }

.aviso {
  font-size: 13px;
  color: #000000; }

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #000000; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #000000; }

p {
  font-size: 20px;
  color: #000000; }

::-webkit-input-placeholder {
  color: #a8a8a8; }

::-webkit-textarea-placeholder {
  color: #a8a8a8; }

.formulario input:focus {
  outline: 0;
  border: 1px solid; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid; }

/* responsive*/
@media screen and (max-width: 1200px) {
  header {
    padding: 40px; } }

@media screen and (max-width: 720px) {
  .menu nav {
    margin-right: 10%;
    width: 20px;
    height: 100px; }
  .menu ul {
    flex-direction: row;
    margin-top: 20px; }
  .menu ul li {
    margin-top: 20px;
    margin-left: 5px; }
  .menu ul li a {
    color: #FFFFFF; }
  #selected {
    background: none;
    padding: 0px;
    border-radius: none;
    color: #FF0000; }
  .menu nav img {
    display: block;
    width: 20%; }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: none; }
  .menu #btn_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms; }
  /* The animation code */
  @keyframes example {
    0% {
      left: 0px;
      top: 0px; }
    25% {
      right: 45px;
      top: 0px; }
    50% {
      right: 45px;
      top: 30px; }
    75% {
      left: 0px;
      top: 30px; }
    100% {
      left: 0px;
      top: 0px; } } }

@media screen and (max-width: 480px) {
  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px; }
  .menu ul {
    flex-direction: row;
    margin-top: 10px; }
  .menu ul li {
    margin-right: 40px; }
  .menu ul li a {
    color: #FFFFFF; }
  #selected {
    background: none;
    padding: 0px;
    border-radius: none;
    color: #FF0000; }
  .menu nav img {
    display: block;
    width: 10%; }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: none; }
  /* The animation code */
  @keyframes example {
    0% {
      left: 0px;
      top: 0px; }
    25% {
      right: 45px;
      top: 0px; }
    50% {
      right: 45px;
      top: 30px; }
    75% {
      left: 0px;
      top: 30px; }
    100% {
      left: 0px;
      top: 0px; } } }

@media screen and (max-width: 480px) {
  .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px; }
  .menu ul {
    flex-direction: row;
    margin-top: 10px; }
  .menu ul li {
    margin-right: 40px; }
  .menu ul li a {
    color: #FFFFFF; }
  #selected {
    background: none;
    padding: 0px;
    border-radius: none;
    color: #FF0000; }
  .menu nav img {
    display: block;
    width: 10%; }
  #back_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: none; }
  .contact_form {
    width: 400px; }
  .textarea {
    width: 10px; }
  .label {
    width: 20%; }
  .input {
    width: 50px; }
  /* The animation code */
  @keyframes example {
    0% {
      left: 0px;
      top: 0px; }
    25% {
      right: 45px;
      top: 0px; }
    50% {
      right: 45px;
      top: 30px; }
    75% {
      left: 0px;
      top: 30px; }
    100% {
      left: 0px;
      top: 0px; } } }

@media screen and (max-width: 380px) {
  .header {
    width: 380px; }
  .container__menu {
    width: 380px; }
  .menu nav {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    height: 100px;
    margin-right: 30px; }
  .contenedor {
    width: 380px; }
  .container__cover {
    width: 380px; }
  .text {
    width: 300px; }
  .h1 {
    width: 100px;
    font-size: 10px; }
  .menu ul {
    flex-direction: row;
    margin-top: 10px; }
  .menu ul li {
    margin-right: 5px; }
  .menu ul li a {
    color: #FFFFFF; }
  #selected {
    background: none;
    padding: 0px;
    border-radius: none;
    color: #FF0000; }
  .menu nav img {
    display: block;
    width: 1%; }
  .contact_form {
    width: 300px; }
  .textarea {
    width: 10px; }
  .label {
    width: 20%; }
  .input {
    width: 50px; }
  .section {
    width: 380px; }
  .h1 {
    width: 70px; }
  .text1 {
    width: 80px; }
  .pie-de-pagina {
    width: 380px; }
  .row {
    width: 380px; } }

@media screen and (max-width: 320px) {
  .header {
    width: 100px; }
  .menu nav {
    display: flex;
    flex-direction: column;
    align-content: baseline;
    height: 100px;
    margin-right: 20px; }
  .container__cover {
    width: 400px; }
  .text {
    width: 200px; }
  .h1 {
    width: 100px;
    font-size: 10px; }
  .menu ul {
    flex-direction: row;
    margin-top: 10px; }
  .menu ul li {
    margin-right: 10px; }
  .menu ul li a {
    color: #FFFFFF; }
  #selected {
    background: none;
    padding: 0px;
    border-radius: none;
    color: #FF0000; }
  .menu nav img {
    display: block;
    width: 10%; }
  .contact_form {
    width: 50px; }
  .textarea {
    width: 400px; }
  .label {
    width: 200px; }
  .input {
    width: 200px; }
  .section {
    width: 400px; }
  .h1 {
    width: 100px; }
  .pie-de-pagina {
    width: 300%; } }

/* The animation code */
@keyframes example {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    right: 45px;
    top: 0px; }
  50% {
    right: 45px;
    top: 30px; }
  75% {
    left: 0px;
    top: 30px; }
  100% {
    left: 0px;
    top: 0px; } }
