

.section{
    background-image: linear-gradient($color-primario, $color-sexto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
  }

  .img1{
    padding: 5%;
    
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

   
